version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - /mnt/user/appdata/avnupdatechecker/data:/data 
    environment:
      - PUID=99
      - PGID=100
    restart: unless-stopped